<template>
  <div class="container mx-auto">
    <div class="mt-4">
      <span> เลือก Plant </span>
      <select
        class="border-2 border-gray-300 rounded-lg p-1 outline:none"
        v-model="selectLoc"
        :disabled="this.timer == 0"
      >
        <option v-for="(item, index) in this.storage" :key="index">
          {{ item.storage }}
        </option>
      </select>
      <span> เลือกช่อง </span>
      <select
        class="border-2 border-gray-300 rounded-lg p-1 outline:none mx-2"
        v-model="selectLoc2"
        :disabled="this.timer == 0"
      >
        <option v-for="(items, index) in this.array_bloc" :key="index">
          {{ items }}
        </option>
      </select>
      <span>วันที่</span>
      <input
        v-if="this.choice == 1"
        type="date"
        v-model="date2"
        class="mx-2 border-2 border-gray-300 rounded-lg p-1"
        :disabled="this.timer == 0"
      />
      <input
        v-else
        type="date"
        :min="this.date_default"
        v-model="date2"
        class="mx-2 border-2 border-gray-300 rounded-lg p-1"
        :disabled="this.timer == 0"
      />
      <input
        type="radio"
        class="form-radio text-indigo-600"
        name="radio-colors"
        v-model="choice"
        value="1"
        checked
        :disabled="this.timer == 0"
      />
      <span class="ml-2">Filter</span>
      <input
        type="radio"
        class="form-radio text-green-500 mx-2"
        v-model="choice"
        name="radio-colors"
        value="2"
        :disabled="this.datafilter.length !== 0 || this.timer == 0"
      />
      <span>Create</span>
    </div>
    <div class="mt-2">
      <span class="mx-2" v-if="this.choice == 2 && this.datafilter == 0"
        >ลงชื่อผู้นับ</span
      >
      <input
        v-if="this.choice == 2 && this.datafilter == 0"
        type="text"
        class="p-1 rounded-lg border-2 border-gray-300 outline-none w-36"
        v-model="user"
        :disabled="this.timer == 0"
      />
      <span class="mx-2" v-if="this.choice == 2 && this.datafilter == 0"
        >ลงชื่อผู้ตรวจนับ1</span
      >
      <input
        v-if="this.choice == 2 && this.datafilter == 0"
        type="text"
        class="p-1 rounded-lg border-2 border-gray-300 outline-none w-36"
        v-model="userChk"
        :disabled="this.timer == 0"
      />
      <span class="mx-2" v-if="this.choice == 2 && this.datafilter == 0"
        >ลงชื่อผู้ตรวจนับ2</span
      >
      <input
        v-if="this.choice == 2 && this.datafilter == 0"
        type="text"
        class="p-1 rounded-lg border-2 border-gray-300 outline-none w-36"
        v-model="userChk2"
        :disabled="this.timer == 0"
      />
      <button
        v-if="this.datafilter.length == 0 && this.choice == 2 && this.wait == 0"
        @click="submit"
        class="ml-2 p-2 bg-green-400 rounded-xl font-bold hover:text-white"
      >
        สร้างแผน
      </button>
    </div>

    <!-- <div class="fixTableHead mt-2" v-if="this.datafilter.length !== 0">
      <div class="flex justify-center">
        <table
          class="table text-gray-400 border-separate space-y-6 text-sm -mt-4 w-4/6"
        >
          <thead class="bg-blue-500 text-white">
            <tr>
              <th class="p-3 font-light text-center">ลำดับ</th>
              <th class="p-3 font-light text-center">โรง</th>
              <th class="p-3 font-light text-center">Loc.</th>
              <th class="p-3 font-light text-center">สินค้า</th>
              <th class="p-3 font-light text-center">รหัสสินค้า</th>
            </tr>
          </thead>
          <tbody class="tbody">
            <tr
              class="bg-blue-200 text-black"
              v-for="(item, index) in this.datafilter"
              :key="index"
            >
              <td class="p-3 font-medium capitalize">
                <span class="px-2 bg-blue-100 rounded-lg text-center">{{
                  index + 1
                }}</span>
              </td>
              <td class="p-3 text-center">{{ item.plant }}</td>
              <td class="p-3 text-center">{{ item.whcode }}</td>
              <td class="p-3 text-center">{{ item.MatDesc }}</td>
              <td class="p-3 text-center">{{ item.Material }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
    <div class="mt-2" v-if="this.timer != 0 && this.datafilter.length == 0">
      <span class="text-red-500">ไม่พบข้อมูลในแผน</span>
    </div>
    <div class="flex justify-center my-4" v-if="this.timer == 0">
      <div class="loader flex justify-center"></div>
    </div>
    <div class="table" v-if="this.datafilter.length !== 0">
      <div class="thead">
        <p class="c0 text-center">ลำดับ</p>
        <p class="cdate text-center">วันที่</p>
        <p class="c1 text-center">คลัง</p>
        <p class="c1 text-center">ช่อง</p>
        <p class="c1 text-center">โซน</p>
        <p class="c1 text-center">โซน</p>
        <p class="c2 text-center">ผู้ตรวจนับ</p>
        <p class="c2 text-center">ผู้ตรวจสอบที่ 1</p>
        <p class="c2 text-center">ผู้ตรวจสอบที่ 2</p>
      </div>
      <div class="tbody">
        <div class="tr" v-for="(item, index) in this.datafilter" :key="index">
          <p class="c0 text-center">{{ index + 1 }}</p>
          <p class="cdate text-center">{{ item.loccdate }}</p>
          <p class="c1 text-center">{{ item.plant }}</p>
          <p class="c1 text-center">{{ item.section }}</p>
          <p class="c1 text-center">{{ item.fside }}</p>
          <p class="c1 text-center">{{ item.rside }}</p>
          <p class="c2 text-center">{{ item.loc_resp }}</p>
          <p class="c2 text-center">{{ item.loc_recheck }}</p>
          <p class="c2 text-center">{{ item.loc_recheck2 }}</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
const url = "https://hook.zubbsteel.com/line-ci/createproduce/cpd/";
export default {
  data() {
    return {
      selectLoc: "เลือกคลัง",
      selectLoc2: "เลือกโรง",
      selectStartLoc: "",
      selectEndLoc: "",
      storage: [],
      loc: [],
      locStart: [],
      locEnd: [],
      array_bloc: [],
      user: "",
      userChk: "",
      userChk2: "",
      time1: null,
      date_default: "",
      date2: "",
      date: "",
      loczone: "",
      locposition: "",
      minizone: "",
      datafilter: [],
      timer: 10,
      choice: 1,
      wait: 0,
      chgdate: "",
      arrminmax: [],
      chkfinish: "",
    };
  },
  created() {
    this.getdate();

    this.getlocstart();
    this.filter(0);
    //this.getStartStop();
    // this.getData();
  },
  components: {},
  watch: {
    selectLoc() {
      this.getlocstart();
      this.choice = 1;
      this.filter(1);
    },
    selectLoc2() {
      //this.getStartStop();
      this.choice = 1;
      this.filter(1);
    },
    selectStartLoc(af) {
      this.selectStartLoc = af;
      this.whenClickstart(af);
    },
    selectEndLoc(af) {
      this.selectEndLoc = af;
    },
    datafilter() {
      this.timer = 10;
    },
    choice(af) {
      if (af == 2) {
        if (this.date2 < this.date_default) {
          this.getdate();
        }
      }
    },
    date2() {
      this.filter(1);
    },
  },

  methods: {
    getdate() {
      var today = new Date();

      let newm = today.getMonth() + 1;
      let newd = today.getDate();
      let newmstring = newm.toString();
      let newdstring = newd.toString();

      if (newmstring.length == 1) {
        newm = "0" + newm;
      }
      if (newdstring.length == 1) {
        newd = "0" + newd;
      }
      this.date_default = today.getFullYear() + "-" + newm + "-" + newd;
      this.date2 = today.getFullYear() + "-" + newm + "-" + newd;
    },
    async getlocstart() {
      const dataLoc = await axios.get(url + "getstorage");
      this.storage = dataLoc.data;
      this.storage.unshift({ storage: "เลือกคลัง" });
      if (this.selectLoc == "เลือกคลัง") {
        const Result = await axios.get(url + "getdataAll/WHQ");
        this.loc = Result.data;
      } else {
        const Result = await axios.get(url + "getdataAll/" + this.selectLoc);
        this.loc = Result.data;
      }

      this.array_bloc = [];
      //this.loc = this.loc.unshift("เลือกโรง");
      this.loc.forEach((data) => {
        if (data.bloc != "") {
          this.array_bloc.push(data.bloc);
        }
        this.loczone;
      });

      this.selectLoc2 = this.array_bloc[0];
      console.log("LOC2=", this.selectLoc2);
      this.array_bloc = Array.from(new Set(this.array_bloc)); //ตัด Location ซ้ำ

      //   this.selectStartLoc = this.array_bloc[0].loc;
    },
    async getStartStop() {
      const StartandStop = await axios.get(
        url + "getinLoc/" + this.selectLoc + "/" + this.selectLoc2
      );

      this.locStart = StartandStop.data;
      console.log("Start=>", this.locStart);
      //if (this.selectStartLoc == "") {
      this.selectStartLoc = this.locStart[0].location;
      this.selectEndLoc = this.locStart[1].location;
      // } else {
      //   this.selectStartLoc = this.locStart[0].location;
      //   this.selectEndLoc = this.locStart[1].location;
      // }

      //await this.whenClickstart(this.selectStartLoc);
    },
    async whenClickstart(startl) {
      //let lastloc = "";
      let count = 0;
      await Promise.all(
        this.loc.map(async (data) => {
          if (data.bloc == this.selectLoc2) {
            let dmin = data.minloc.substr(2);
            let dmax = data.maxloc.substr(2);

            let newselectstart = startl.substr(3);
            //let cutstartl = startl.replace("-", "");

            if (newselectstart >= dmin && newselectstart <= dmax) {
              count = count + 1;
              let newstart = startl.replace("-", "");
              const Endloc = await axios.get(
                url + "getbetween/" + newstart + "/" + data.maxloc
              );
              this.locEnd = Endloc.data;
              this.loczone = data.loczone;
            }
          }
        })
      );
      setTimeout(() => {
        this.selectEndLoc = this.locEnd[0].location;
      }, 500);

      // lastloc = this.locEnd;
    },

    async filter() {
      // let fil1 = "";
      // let fil2 = "";
      if (this.selectStartLoc == "") {
        this.selectStartLoc = "1L20";
      }
      if (this.selectEndLoc == "") {
        this.selectEndLoc = "1L21";
      }

      // fil1 = this.selectStartLoc.replace("-", "");
      // fil2 = this.selectEndLoc.replace("-", "");
      console.log(this.loc);
      if (this.selectLoc == "เลือกคลัง") {
        const datatable = await axios.get(url + "getallbet/");
        this.datafilter = datatable.data;
      } else {
        await this.chklocation();
        let newdate2 = this.date2.replaceAll("-", "");
        const datatable = await axios.get(
          url +
            "getdatafilter/" +
            this.selectLoc +
            "/" +
            this.selectLoc2 +
            "/" +
            newdate2
        );
        this.datafilter = datatable.data;
      }

      this.datafilter.forEach((data) => {
        data.loccdate = data.loccdate.substring(10, 0);
        var datePart = data.loccdate.match(/\d+/g),
          year = datePart[0].substring(2), // get only two digits
          month = datePart[1],
          day = datePart[2];

        data.loccdate = day + "/" + month + "/" + year;
        if (data.fside == null) {
          data.fside = "-";
        }
        if (data.rside == null) {
          data.rside = "-";
        }
      });
      if (this.datafilter.length !== 0) {
        this.wait = 0;
      }
      this.timer = 10;
      this.chkfinish = "";
    },
    async chklocation() {
      const locy = await axios.get(
        url + "getminmaxloc/" + this.selectLoc + "/" + this.selectLoc2
      );
      this.arrminmax = locy.data;
    },
    async submit() {
      let locx2 = [];
      let lz;
      let reslocname;
      this.arrminmax.forEach((data) => {
        locx2 = data.loczone.split(" ");
        lz = data.loczone;
      });
      if (confirm("คุณต้องการสร้างแผนใหม่ใช่หรือไม่ ?")) {
        if (this.user != "") {
          this.wait = 1;
          this.timer = 0;
          //let lastp = "";
          let senddate = this.date2.replaceAll("-", "");

          let chkRightPosition = this.selectLoc2.indexOf("R");
          if (chkRightPosition !== -1) {
            this.locposition = "ขวา";
          } else {
            let chkLeftPosition = this.selectLoc2.indexOf("L");
            if (chkLeftPosition !== -1) {
              this.locposition = "ซ้าย";
            } else {
              this.locposition = "กลาง";
            }
          }

          // console.log(senddate);

          // await axios.post(url + "create", {
          //   section: this.selectLoc2,
          //   loc_fr: this.minizone,
          //   whcodef: this.selectStartLoc.replace("-", ""),
          //   whcodet: this.selectEndLoc.replace("-", ""),
          //   plant: this.selectLoc,
          //   cdate: senddate,
          //   locname: locz[0] + " " + locz[1] + " " + this.locposition + lastp,
          //   locresp: this.user,
          //   locrechk: this.userChk,
          //   locrechk2: this.userChk2,
          // });
          let l;
          //await Promise.all(

          this.arrminmax.forEach(async (data) => {
            let back = data.loczone.indexOf("หลัง");
            if (back !== -1) {
              l = "หลัง";
              //console.log(data.loczone);
            } else {
              l = "หน้า";
            }
            if (
              this.selectLoc !== "MR7" &&
              this.selectLoc !== "MR8" &&
              this.selectLoc !== "RMT"
            ) {
              reslocname =
                locx2[0] + " " + locx2[1] + " " + this.locposition + l;
            } else {
              reslocname = lz + " " + this.locposition + l;
            }

            const pp = await axios.post(url + "create_test", {
              section: this.selectLoc2,
              loc_fr: l,
              whcodef: data.minbin,
              whcodet: data.maxbin,
              plant: this.selectLoc,
              cdate: senddate,
              locname: reslocname,
              locresp: this.user,
              locrechk: this.userChk,
              locrechk2: this.userChk2,
            });
            if (pp.data == "Insert Success") {
              this.chkfinish = 1;
              console.log("ct dt::", pp.data, "CHKfin=>", this.chkfinish);
              this.filter();
              this.user = "";
              this.userChk = "";
              this.userChk2 = "";
              alert("Insert Success :)");
            }
          });
        } else {
          alert("กรุณาลงชื่อ");
        }
      }
    },
  },
};
</script>
<style>
i {
  font-size: 1rem !important;
}

/* .fixTableHead {
  height: 570px;
  overflow-y: hidden;
}
.fixTableHead thead th {
  position: sticky;
  top: 0px;
  background-color: rgba(59, 130, 246, 255);
} */

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #ffc40c; /* mastad */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.table {
  margin: 10px auto;
  width: 990px;
  height: 130px;
  overflow: hidden;
}
.thead {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background-color: #00439c;
  color: #fff;
}
p {
  display: block;
  float: left;
  text-align: left;
}
p.c0 {
  width: 40px;
}
p.cdate {
  width: 80px;
}
p.c1 {
  width: 70px;
}

p.c2 {
  width: 180px;
}
p.c5 {
  width: 10%;
}

.tbody {
  width: 990px;
  height: 520px;
  padding: 0 7px 17px 10px;
  overflow: scroll;
  background-color: #f3f7fb;
}
.tr {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #e5e5e5;
}
</style>
